<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FUNZIONE DEI BOTTONI</title>
</head>
<body>
<a th:href="@{/magazzino/help}"><button>◄</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a th:href="@{/magazzino}"><button>HOME</button></a><br>
<h4><b><i>Ecco la funzione dei relativi bottoni:</i></b></h4><br>
<b>-Magazzino:</b>
In magazzino posso creare, modificare o eliminare un prodotto con tutti i suoi relativi campi,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ma posso visualizzare solo i dettagli riguardanti al prezzo, al nome e alla quantità.<br>
<b>-Prodotto:</b>
In prodotto posso visualizzare il nome, la sua descrizione, la categoria e sottocategoria di appartenenza e posso anche eliminarlo.<br>
<b>-Categoria:</b>
Posso creare, modificare o eliminare una categoria e visualizzare i dettagli riguardanti il nome e la tassa.<br>
<b>-Sottocategoria:</b>
Posso creare, modificare o eliminare una sottocategoria e visualizzare i dettagli relativi al nome, alla descrizione e alla categoria di appartenenza.
</body>
</html>