<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CREAZIONE PRODOTTO</title>
</head>
<body>
<a th:href="@{/magazzino/help}"><button>◄</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a th:href="@{/magazzino}"><button>HOME</button></a>
<center><h3>COME CREARE UN PRODOTTO DA ZERO</h3></center>Per creare un prodotto da zero compresa categgoria  e sotto categoria
seguire i seguenti step:<br> 1)Creare la categoria<br>2)creare la sottocategoria<br>3)Andare su magazzino e creare il prodotto
</body>
</html>