<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminazione</title>
</head>
<body>
<a th:href="@{/magazzino}"><button>HOME</button></a>
La categoria da te selezionata appartiene alle seguenti sottocategoria:
<ul>
    <li th:each="subcategory : ${listaVuotaSubcat}">
        <b>Nome:</b>
        <span th:text="${subcategory.name}"></span>
        <b>Descrizione:</b>
        <span th:text="${subcategory.description}"></span>
        <b>Category:</b>
        <span th:text="${subcategory.category.name}"></span>
        <a th:href="@{/magazzino/putSubcategoryElimina/{id} (id= ${subcategory.id})}"><button>Modifica Sottocategoria</button></a>
    </li>
</ul>
La categoria da te selezionata appartiene ai seguenti prodotti:
<ul>
    <li th:each="warehouse : ${listaVuota}">
        <b>Nome:</b>
        <span th:text="${warehouse.product.name}"></span>
        <b>Descrizione:</b>
        <span th:text="${warehouse.product.shortDescription}"></span>
        <b>Categoria:</b>
        <span th:text="${warehouse.product.subcategory.category.name}"></span>
        <b>Sottocategoria:</b>
        <span th:text="${warehouse.product.subcategory.name}"></span>
        <a th:href="@{/magazzino/putWarehouseElimina/{id} (id= ${warehouse.id})}"><button>Modifica Prodotto</button></a>
    </li>
</ul>
Se si vuole procedere con l'eliminazione verrano eliminati anche i prodotti e le sottocategorie ad essa legate<br>
altrimenti modificare le sottocategorie e/o i prodotti e poi eliminare la categoria
<ul>
    <li th:each="category : ${listaVuotaCat}">
        <b>Nome:</b>
        <span th:text="${category.name}"></span>
        <b>Tax:</b>
        <span th:text="${category.tax}" ></span>
        <a th:href="@{/magazzino/delete/category/{id} (id= ${category.id})}"><button>X</button></a>
    </li>
</ul>
</body>
</html>