<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAGINA DI AIUTO</title>
</head>
<body>
<a th:href="@{/magazzino}"><button>HOME</button></a>
<center>
    <b><h3><i>IN COSA POSSO ESSERTI UTILE?</i></h3></b><br><br><br>
    <a th:href="@{/magazzino/bottoni}">-Cosa fanno i vari bottoni della home</a><br>
    <a th:href="@{/magazzino/creareProdotto}">-Come creare un prodotto da zero</a><br>
    <a th:href="@{/magazzino/regole}">-I campi non rispettano le regole</a>
</center>
</body>
</html>