<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Benvenuto al magazzino divino</title>
</head>
<body><center>
    <h2><i>Scegliere dove andare:</i></h2>
  <a th:href="@{/magazzino/products}"><button>PRODOTTO</button></a>
    <a th:href="@{/magazzino/categories}"><button>CATEGORIA</button></a>
    <a th:href="@{/magazzino/subcategories}"><button>SOTTOCATEGORIA</button></a>
    <a th:href="@{/magazzino/warehouses}"><button>MAGAZZINO</button></a></center>
<br><br><br><br><br><br><br><br><br><br>
<a th:href="@{/magazzino/help}"><button>HELP</button></a>
</body>
</html>