<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/magazzino/putWarehouseElimina}" th:object="${modifyWarehouseElimina}" method="post">
    <input type="hidden" th:field="${modifyWarehouseElimina.id}">
    <input type="hidden" th:field="${modifyWarehouseElimina.product.id}">
    <p>Nome</p>
    <input type="text" th:field="${modifyWarehouseElimina.product.name}"  required>
    <p>Descrizione </p>
    <input type="text" th:field="${modifyWarehouseElimina.product.shortDescription}"  required><br>
    <p>Sottocategoria </p>
    <select th:field="*{product.subcategory.id}" >
        <option th:each="cat : ${subcategories}" th:value="${cat.id}" >
            <span th:text="${cat.name}"></span>
        </option>
    </select>
    <p>Prezzo</p>
    <input type="number" th:field="${modifyWarehouseElimina.price}" min="0" required>
    <p>Quantità</p>
    <input type="number" th:field="${modifyWarehouseElimina.quantity}" min="1" required>
    <button  type="submit" onclick="return confirm('Confermi la modifica(consiglio: controlla di nuovo tutti i campi)?')">Salva</button>
</form>
</body>
</html>