<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Prodotti</title>
</head>
<body>
<center>
<b><i>LISTA PRODOTTI</i></b>
&nbsp;<a th:href="@{/magazzino}"><button>HOME</button></a>
<a th:href="@{/magazzino/warehouses}"><button>MAGAZZINO</button></a></center>
<ul>
    <li th:each="warehouse : ${warehouses}">
        <b>Nome:</b>
            <span th:text="${warehouse.product.name}"></span>
        <b>Descrizione:</b>
            <span th:text="${warehouse.product.shortDescription}"></span>
        <b>Categoria:</b>
            <span th:text="${warehouse.product.subcategory.category.name}"></span>
        <b>Sottocategoria:</b>
            <span th:text="${warehouse.product.subcategory.name}"></span>
        <a th:href="@{/magazzino/deleteWarehouse/{id} (id= ${warehouse.id})}"><button type="submit"
                     onclick="return confirm('Confermi di volerlo eliminare?')">X</button></a>
    </li>
</ul>
</body>
</html>