<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Subcategory</title>
</head>
<body>
<center><b><i>LISTA SOTTOCATEGORIE</i></b> &nbsp; <a th:href="@{/magazzino}"><button>HOME</button></a></center>
<ul>
    <li th:each="subcategory : ${subcategories}">
        <b>Nome:</b>
            <span th:text="${subcategory.name}"></span>
        <b>Descrizione:</b>
            <span th:text="${subcategory.description}"></span>
        <b>Category:</b>
            <span th:text="${subcategory.category.name}"></span>
        <a th:href="@{/magazzino/deleteSubcategory/{id} (id= ${subcategory.id})}"><button type="submit"
            onclick="return confirm('Confermi di volerlo eliminare?')">X</button></a>
        <a th:href="@{/magazzino/putSubcategory/{id} (id= ${subcategory.id})}"><button>Modifica Sottocategoria</button></a>
    </li>
</ul>
<a th:href="@{/magazzino/newsubcategory}"><button>Aggiungi una nuova sottocategoria</button></a>
</body>
</html>