<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista prodotti in magazzino</title>
</head>
<body>
<center><b><i>LISTA PRODOTTI IN MAGAZZINO</i></b> &nbsp;
<a th:href="@{/magazzino}"><button>HOME</button></a>
<a th:href="@{/magazzino/products}"><button>DETTAGLI PRODOTTI</button></a></center> <br>
<p align="right"><a th:href="@{/magazzino/ricerca}"><button>Ricerca</button></a></p>
<h4>Lista:</h4>
<ul>
    <li th:each="warehouse : ${warehouses}">
        <b>Nome:</b>
            <span th:text="${warehouse.product.name}"></span>
        <b>Prezzo:</b>
            <span th:text="${warehouse.price}"></span>
        <b>Quantità:</b>
            <span th:text="${warehouse.quantity}"></span>
        <a th:href="@{/magazzino/deleteWarehouse/{id} (id= ${warehouse.id})}"><button type="submit"
                    onclick="return confirm('Confermi di volerlo eliminare?')">X</button></a>
        <a th:href="@{/magazzino/putWarehouse/{id} (id= ${warehouse.id})}"><button>Modifica Prodotto</button></a>
    </li>
</ul>
<a th:href="@{/magazzino/newwarehouse}"><button>AGGIORNA LISTA PRODOTTI</button></a>
</body>
</html>